@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons";

:root {
  --bgColor: #0b3d4d;
  --lightColor: #d5e1e7;
  --hoverColor: #e06dcd;
  --softColor: #e23cb9;
  --textColor: #862f20;
}

/*--------------------------------------------------------------
  # Navbar Section
  --------------------------------------------------------------*/

body {
  background-color: var(--bgColor);
  font-family:Arial, Helvetica, sans-serif
}

.navbar {
  padding: 0;
  background: var(--bgColor);
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: end;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--lightColor);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--softColor);
}

/*--------------------------------------------------------------
# General Title Section
--------------------------------------------------------------*/
.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  color: var(--testColor);
  line-height: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section-title p {
  color: var(--hoverColor);

  font-size: 26px;
}
.hover-text {
  transition: color 0.2s ease;
  color: rgb(197, 100, 100);
}

.hover-text:hover {
  color: rgb(81, 108, 196);
  cursor: pointer;
}
.hover-text:hover {
  color: #603aca;
  text-decoration: underline;
  transform: scale(1.05);
}.hover-text {
  transition: all 0.3s ease;
}.hover-card .card-title,
.hover-card .card-text {
  transition: all 0.3s ease;
}

.hover-card:hover .card-title {
  color: #ffd700; /* gold */
  transform: scale(1.05);
  text-decoration: underline;
}

.hover-card:hover .card-text {
  color: #ffffff;
  opacity: 0.9;
  letter-spacing: 1px;
}




/*--------------------------------------------------------------
# MainPage Section
--------------------------------------------------------------*/
.mainPage {
  width: 100%;
  height: 100%;
  background: var(--bgColor);
}

.mainPage .uper h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--lightColor);
}

.mainPage .uper h2 {
  color: var(--softColor);
  margin: 15px 0 0 0;
  font-size: 26px;
}
.mainPage .uper .img-head {
  color: var(--lightColor);
  font-size: 26px;
}

.mainPage .uper .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: var(--lightColor);
  background: linear-gradient(var(--testColor), var(--softColor));
  box-shadow: 0px 5px 30px rgba(44, 44, 49, 0.4);
}

.mainPage .uper .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.mainPage .uper .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.mainPage .uper .btn-get-started:hover i {
  transform: translateX(5px);
}

.mainPage .uper img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.mainPage .uper .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .mainPage {
    background-attachment: fixed;
  }
  .mainPage .uper .hero-img img {
    height: 85%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mainPage {
    height: auto;
    text-align: center;
    padding: 10px 0 60px 0;
  }
  .mainPage .uper img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .mainPage .uper .hero-img {
    text-align: center;
    margin-top: 10px;
  }

  .mainPage .uper .hero-img img {
    width: 100%;
  }

  .mainPage .uper h1 {
    margin-top: 20px;
    font-size: 22px;
  }

  .mainPage .uper h2 {
    font-size: 18px;
  }
}
.section{
  background-color: var(--bgColor);
  margin-top: 50px;

}
.sectionTitle h3{
  font-weight: 900px;
  font-size: 25px;
  color: var(--textColor);

}
.sectionTitle h4{
  font-weight: 900px;
  font-size: 25px;
  color:var(--lightColor);
  padding-left: 5px;

}

.a :hover
{
color:var(--bg-dark);
}